version: '3.0'

services:
  bfchkp-api:
    container_name: bfchkp-api
    build:
      context: .
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=postgres
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - 3001:3001
      - 9229:9229
    command: npm run start:dev
    depends_on:
      - bfchkp-db
    restart: always
  bfchkp-db:
    container_name: bfchkp-db
    image: postgres:12
    env_file:
      - .env
    environment:
      PG_DATA: /var/lib/postgresql/data
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:

